[MASTER]
ignore=tests

[MESSAGES CONTROL]
; disable=C0111,  # Missing docstring
# disable=W0611,  # Unused import
# disable=E1101,  # Instance of 'X' has no 'Y' member
# disable=C0413,  # Import outside toplevel
# disbale=C0415, # unused argument
[FORMAT]
max-line-length=300